@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <h2>Movie Directory</h2>
    <p class="lead"> A list of directors, movies and genres.</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
           See a list of Movies.
        </p>
        <p><a class="btn btn-default" href="~/Movies/Index">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See a list of directors</p>
        <p><a class="btn btn-default" href="~/Directors/Index">Directors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>See a list of Genres</p>
        <p><a class="btn btn-default" href="~/Genres/Index">Genres &raquo;</a></p>
    </div>
</div>