@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">

    <h2>Movie Directory</h2>
    <p class="lead" align="center"> A list of directors, movies and genres.<br />
    This weeks 'Are you for REEL?' </p>
    <iframe width="520" height="345" src="https://www.youtube.com/embed/4HkH3xrJ7Xs"></iframe>
    <div class="row" align="center">




        <div class="col-md-4">
            <h2>Movies</h2>
            <p>
                See a list of Movies.
            </p>
            <p><a class="btn btn-default" href="~/Movies/Index">Movies &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Directors</h2>
            <p>See a list of directors</p>
            <p><a class="btn btn-default" href="~/Directors/Index">Directors &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Genres</h2>
            <p>See a list of Genres</p>
            <p><a class="btn btn-default" href="~/Genres/Index">Genres &raquo;</a></p>
        </div>
    </div>

</div>

@*<div class="row" align="center">
 

    
       
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            See a list of Movies.
        </p>
        <p><a class="btn btn-default" href="~/Movies/Index">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See a list of directors</p>
        <p><a class="btn btn-default" href="~/Directors/Index">Directors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>See a list of Genres</p>
        <p><a class="btn btn-default" href="~/Genres/Index">Genres &raquo;</a></p>
    </div>
</div>*@